



body {
  text-align: center;
  
   background: linear-gradient(-45deg, #000000, #2b0000, #3b1f0f, #1a0000);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;


}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
   font-family: 'Bebas Neue', sans-serif;
  text-shadow: 3px 0 #DA0463;
  letter-spacing: px;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
 background-image: url("images/tom1.png");
 background-position: center;
}

.a {

  background-image: url("images/tom4.png");
 background-position: center;
}

.s {
 background-image: url("images/tom3.png");
 background-position: top;
}

.d {
 background-image: url("images/tom2.png");
 background-position: center;
}

.j {
 background-image: url("images/snare.png");
 background-position: top;
}

.k {
 background-image: url("images/kick.png");
 background-position: top;
}

.l {
 background-image: url("images/crash.png");
 background-position: top;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  /*box-shadow: 0 3px 4px 0 #DBEDF3;*/
  box-shadow: 0 0 25px #7f1e00;
  transform: scale(0.95);
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
   border: 12px solid #905858;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;


  
}



